body{
  text-align: center;
  background: #22bb55
}

div.main{
  width:70%;
  position: absolute;
  left:10%;
  background-color: lightgreen;
  text-align: left;
  border-radius: 3px;
}

div.title{
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  background-color: #8090A0;
  line-height: 1.6;
  position: relative;
  width:94%;
  left:3%;
  position: relative;
  
}

div.text{
  position:relative;
  left:5%;
  font:icon;
  font-size:15px;
}

h1,h2,h3,h4,h5,h6{
  font-size-adjust: .6
}

a{
  color: green;
}
:hover{color:darkcyan;}

img{
  position:relative;
  border:solid thin darkgreen;
  border-radius: 5px;
}
img:hover{
  color-adjust: #111111;
}

em2{
  /*BLINK*/
}

abbr:hover{
  color:green;
}
