.wrapper { 
    position:relative; width:235px; height:237px;  
    opacity:40%;
}
.wrapper:hover{
    opacity:100%;
}
img {
    position:absolute;
    opacity:inherit;
}

td{
    background-image: url("https://deverellmanning.github.io/Assets/t.1x1.png");
}
td:hover{
    background:lightgreen;
}
