body{
background: #1BC6FF url("http://static.iclanwebsites.com/themes/theme_42/themebuilder_qcax_bg.jpg") no-repeat fixed 0% 0%;
overflow:scroll;
}
.Page{
background: #FF964B url("http://static.iclanwebsites.com/themes/theme_42/themebuilder_rd2v_bgg.jpg") repeat scroll 0% 0%;
width:70%;
left:13%;
position:absolute;
margin:0px;
-webkit-box-shadow: 4px 4px 9px 3px rgba(0,0,0,0.91); 
box-shadow: 4px 4px 9px 3px rgba(0,0,0,0.91);
border: 4px outset rgba(32,164,56,0.88);
outline: 3px dashed rgba(32,164,56,0.88);
outline-offset: -2px;
}


.sidebar{
left: 10;
position:relative;
background-color:brown
}

div .Title{
background: #D0E4F5 none no-repeat scroll 0 0;
padding:1%;
border-bottom: 8px double rgba(32,164,56,0.88);
background: #6CEEF5 url("http://static.iclanwebsites.com/themes/theme_42/themebuilder_7ac7_header2.jpg") no-repeat scroll 50% 50%;
background-size: cover;

}
div .Title h1,h2,h3{
background: rgba(108,238,245,0.60) none no-repeat scroll 0 0;
width:fit-content;
-webkit-border-radius: 27px;
border-radius: 10px;
position:relative;
padding:10;

}

h3{
font-family: "Lucida Console", Monaco, monospace;
font-size: 22px;
letter-spacing: 0px;
word-spacing: 1px;
color: #333300;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;
left:14%;
margin-top:-25;
margin-bottom:5%;

}

div.Title h1{
margin-top:20;
font-family: "Courier New", Courier, monospace;
font-size: 36px;
letter-spacing: -1px;
word-spacing: 1px;
color: ##333300;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
left: 12%;
border-bottom: 5px solid #272E86;
}

