div.Gallery{
  background:var(--chromaT-D);
  display: flex;
  position:relative;
  border: double var(--chromaM-D2) 5px;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

Section img {
  width: revert;
}

img.tp{
  position: absolute;
  border:none;
}

figure {
  position:relative;
  height: 250px;
  width: 31%;

  border: black thin solid;
  opacity: 70%;
  margin: 5px;
  transition: 1.5s;
  text-align: center;
  overflow: clip;
  cursor:grab;

}

Section figure img {
  height: 250px;
  width: 250px;
  opacity: inherit;
  border: none;
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
  /* From https://stackoverflow.com/questions/14562457/center-oversized-image-in-div */
}


figure:hover{
    opacity:100%;
    transition:0.2s;
}

figure figcaption{
  display: inline-table;
  height: 20px;
  width: 100%;
  position: relative;
  list-style: none;
  margin-top:1px;
  
  outline:black solid thin;
    color:var(--chromaA-D2);
  opacity:100%;
    background:var(--chromaT-L2);
}

figure name,figure date{
  display: inline-table;
  height: 20px;
  width: 100%;
  position: relative;
  list-style: none;
  margin-top: 1px;
  outline:black solid thin;
  color:var(--chromaA-D2);
  opacity:100%;
  background:var(--chromaT-L2);
}

figure disc{
    display:none;
}

figure name{
    font-weight: bold;
}
