div.Gallery{
  background:var(--chromaT-D);
  display:flex;
  position:relative;
  border:double var(--chromaM-D2) 5px;
  text-align: center;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

img.tp{
  position: absolute;
}

figure {
  border: black thin solid;
  display: flex;
  width: 22%;
  height: min-content;
  opacity: 70%;
  margin: 5px;
  transition: 1.5s;
  text-align: center;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: clip;
  cursor:grab;
}

figure img {
  height: 250px;
  position: relative;
  opacity: inherit;
  display: inline;
}


figure:hover{
    opacity:100%;
    transition:0.2s;
}

figure figcaption{
  display: inline-table;
  height: 20px;
  width: 100%;
  position: relative;
  list-style: none;
  margin-top:1px;
  
  outline:black solid thin;
    color:var(--chromaA-D2);
  opacity:100%;
    background:var(--chromaT-L2);
}

figure name,figure date{
  display: inline-table;
  height: 20px;
  width: 100%;
  position: relative;
  list-style: none;
  margin-top:1px;
  
  outline:black solid thin;
    color:var(--chromaA-D2);
  opacity:100%;
    background:var(--chromaT-L2);
}

figure disc{
    display:none;
}

figure name{
    font-weight: bold;
}
