
/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  transition:2.5s;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  }


#expandedImg{
      position:fixed;
      left:10%;
      top:1%;
      height:99%;
      overflow:scroll;
      right:0;left:0;
      margin:auto;
  opacity:inherit;
  transition:2.5s;
}

span.closebtn{
      position:fixed;
      left:50%;
      top:5%;
      color:black;
      z-index:4;
}
