div.sidebar{
background:gray;
position:fixed;
float:right;
bottom:30%;
right:-305;
border-left:black 25px solid;
transition:1s;
z-index:2
}

div.sidebar:hover{
right:0;
transition:2s;
border-left:3px solid black;
}

body{
background: #1C6EA4;
background: -moz-radial-gradient(center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: -webkit-radial-gradient(center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
background: radial-gradient(ellipse at center, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
overflow-x:hidden;
}

div.Title{
background:blue;
}
div.MainContent{
width:100%;
}

div.Footer{
position:fixed;
left:0;
bottom:0;
background:grey;
height:10%;
width:100%
border-top: 4px ridge #000000;
}

td{
      outline:black solid;
      cursor: pointer;
}
td:hover{
      -webkit-box-shadow: 0px 0px 23px 3px #EDFF3E; 
box-shadow: 0px 0px 23px 3px #EDFF3E;
}

.container{
}

#expandedImg{
      position:fixed;
      left:10%;
      top:1%;
      height:99%;
      overflow:scroll;
      right:0;left:0;
      margin:auto;
}

span.closebtn{
      position:fixed;
      left:50%;
      top:1%;
      color:black;
      z-index:4;
}

