body{
background:lightgrey;
border:black double;
  overflow: hidden;
  
}

a{
  color:#381;
  text-decoration: none;
}
a:hover{
  text-decoration: underline black;
}

li::marker{
  
}
h3{
  text-align: center;
}
